@media screen and (max-width: 991px) {
    .feature-catalog-items {
        flex-direction: column;
    }
    .feature-catalog-item:first-child {
        margin-right: 0 !important;
    }
    .row {
        --bs-gutter-x: 0 !important;
    }
    .section-title {
        margin-left: 0 !important;
        h2 {
            font-size: 25px;
        }
    }

    .carousel-inner-slider-top {
        .carousel-item:nth-child(1) {
            left: -300px;
            .carousel-item__info {
                width: 35%;
            }
        }
        .carousel-item:nth-child(2) {
            left: -300px;
            .carousel-item__info {
                width: 30%;
            }
            .carousel-item__image {
                width: 50%;
            }
        }
        .carousel-item:nth-child(3) {
            left: -300px;
            .carousel-item__info {
                width: 35%;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .watch-video-items {
        flex-direction: column;

        .watch-video-item:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .section-wrapper {
        height: 400px;
        .section-title {
            padding: 0 10px;
            a {
                margin-top: 0;
            }
        }
    }
    .feature-catalog-list-items,
    .hot-deals-wrapper,
    .top-rated-product-wrapper,
    .inspirations-wrapper,
    .blog-posts-wrapper,
    .section-title {
        h2 {
            font-size: 25px;
        }
    }

    .carousel-inner-slider-top {
        .carousel-item {
            left: -50% !important;
            flex-direction: column !important;
            .carousel-item__info {
                width: 60% !important;
                align-items: center !important;
                h4,
                .desc {
                    text-align: center;
                }
            }
            .carousel-item__image {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 50%;
                }
            }
        }
        .carousel-item:nth-child(2) {
            .carousel-item__image {
                width: 50%;
                margin-top: 10%;
                img {
                    width: 100%;
                }
            }
        }
    }
}
