@media screen and (max-width: 991px) {
    .default-sorting {
        display: none !important;
    }
    .filter {
        display: none !important;
    }
}

@media screen and (max-width: 769px) {
    .list-feature-items {
        .list-feature-item:last-child {
            display: none;
        }
    }
}
