body {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
p {
    margin-bottom: 0;
}
.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
}
.header-top {
    background-color: #963d5a;
    padding: 10px 0;
    .header-top-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        font-size: 13px;
        font-weight: 700;
        line-height: 24px;
        span {
            margin: 0 5px;
        }
        .text-fade {
            display: none;
        }
    }
}
.header-center {
    position: relative;
    &::after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: rgb(231 228 228 / 80%);
        position: absolute;
        bottom: 0;
    }
}

.header-center-items {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    .logo {
        justify-content: flex-start;
    }

    img {
        max-width: 182px;
    }

    .search {
        span {
            background-color: #f4f4f4;
            height: 40px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 10px;
            i {
                padding: 10px;
            }
            input {
                background-color: #f4f4f4;
                outline: none;
                border: none;
            }
        }
    }
    .list-feature {
        justify-content: flex-end;
        span {
            width: 48px;
            height: 48px;
            border: 1px solid #f5f5f5;
            border-radius: 50%;
            position: relative;
            cursor: pointer;

            + span {
                margin-left: 10px;
            }
            .quantity {
                background-color: #ee6352;
                border-radius: 50%;
                color: #ffffff;
                font-size: 11px;
                line-height: 11px;
                padding: 3px;
                text-align: center;
                width: 18px;
                height: 18px;
                position: absolute;
                top: 0;
                right: 0;
            }
            &:hover {
                border-color: #433779;
            }
        }
    }
}

.offcanvas-body-cart {
    padding: 0;
    flex-grow: unset;
    overflow: hidden;
    height: 100%;
    span {
        border: none;
    }
    .cart-top {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;

        > i {
            padding: 0 10px;
            color: #b0b0b0;
            position: absolute;
            left: 0;
            font-size: 20px;
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
        span {
            display: flex;
            align-items: center;
            color: #433779;
            border: 0;
            h3 {
                margin-bottom: 0;
                padding: 0px 10px;
            }
            i {
                font-size: 20px;
            }
        }
    }

    .cart-content {
        width: 100%;
        height: 60%;
        flex-direction: column;
        i {
            font-size: 24px;
            color: #b0b0b0;
        }
        span {
            border: none;
            width: 100%;
            white-space: nowrap;
            display: flex;
            justify-content: center;
        }
    }
    .cart-bottom {
        width: 100%;
        position: absolute;
        bottom: 0;
        .subtotal,
        .total {
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            background-color: #f7f7f7;
            span {
                display: flex;
                align-items: center;
            }
            span {
                border: none;
            }
            &::after {
                content: "";
                height: 1px;
                width: 100%;
                position: absolute;
                background-color: #b0b0b0;
                bottom: 0;
                left: 0;
            }
        }
        .btn-checkout {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 20px 0;
            padding-bottom: 10px;
            span {
                background-color: #ee6352;
                border-radius: 4px;
                color: #ffffff;
                display: inline-block;
                font-family: Plus Jakarta Sans;
                font-weight: 700;
                line-height: 16px;
                margin: 0px 0px 5px;
                padding: 16px 32px;
                text-align: center;
                width: 200px;
                white-space: nowrap;
            }
        }
        .view-cart {
            width: 100%;
            display: flex;
            justify-content: center;
            color: #b0b0b0;
            cursor: pointer;

            &:hover {
                color: #000000;
                text-decoration: underline;
            }
        }
    }
}

.header-nav-items {
    justify-content: flex-end;
    position: relative;
    height: 81px;
    background-color: #ffffff;
    .header-navbar-items {
        position: absolute;
        top: 10px;
        left: 0;
        max-width: 243px;
        width: 100%;
        width: 100%;
        .header-navbar-top {
            background-color: #433779;
            color: #ffffff;
            padding-top: 20px;
            padding-right: 24px;
            padding-bottom: 20px;
            padding-left: 24px;
            border-style: none;
            font-weight: 600;
            span {
                white-space: nowrap;
            }
        }
        ul {
            padding-left: 0;
            margin: 0;
            position: relative;
            .navbar-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 20px;
                padding-right: 24px;
                padding-bottom: 20px;
                padding-left: 24px;
                font-size: 17px;
                line-height: 21px;
                color: #433779;
                border-style: solid;
                border-width: 0 1px 1px 1px;
                border-color: #ededed;
                font-weight: 500;
                cursor: pointer;
                .content-navbar-wrapper {
                    position: absolute;
                    left: 100%;
                    top: 0;
                    width: calc(100% * 4);
                    background-color: #ffffff;
                    border: 1px solid #ebebeb;
                    display: none;
                    .content-navbar-items {
                        ul {
                            display: flex;
                            li {
                                padding: 40px 35px 30px;
                                position: relative;
                                + li {
                                    &::before {
                                        content: "";
                                        background-color: rgb(231 228 228 / 80%);
                                        width: 1px;
                                        height: 70%;
                                        position: absolute;
                                        left: 0;
                                    }
                                }
                                img {
                                    max-width: 70%;
                                }
                            }
                        }
                        .donors-items {
                            padding-bottom: 10px;
                            img {
                                + img {
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                    .product-menu__info {
                        font-family: Roboto;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        b {
                            color: #433779;
                            display: inline;
                            font-weight: 700;
                            line-height: 24px;
                            text-align: left;
                            padding: 10px 0;
                        }
                    }
                    a {
                        color: #595959;
                        display: inline;
                        line-height: 24px;
                        text-align: left;
                        padding: 10px 0;
                        text-decoration: none;
                        &:hover {
                            color: #433779;
                            text-decoration: underline;
                        }
                    }
                }
                .content-navbar-items-2 {
                    display: flex;
                    li {
                        display: flex;
                        flex-direction: column;
                        a {
                        }
                        &::before {
                            display: none;
                        }
                    }
                    img {
                        overflow: hidden;
                        background-color: #b0b0b0;
                    }
                }
                &:hover {
                    .content-navbar-wrapper {
                        display: flex;
                    }
                }

                .product-sale-1 {
                    background-color: #f3f3f345;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    > span {
                        display: flex;
                        width: 100%;
                        padding-left: 30px;
                    }
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            max-width: 84px;
                            height: auto;
                        }
                        .info {
                            color: #433779;
                            font-size: 19px;
                            font-weight: 600;
                            line-height: 25px;
                            margin: 0px 0px 15px;
                            text-align: left;
                            padding-left: 10px;
                        }
                    }
                }
            }
            .sales {
                color: #ee6352;
            }
        }
    }
    .header-menu-wrapper {
        .header-menu-items {
            ul {
                list-style: none;
                display: flex;
                margin-bottom: 0;
                position: relative;
                li {
                    padding: 10px 20px;
                    border-radius: 5px;
                    a {
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 17px;
                        color: #433779;
                    }
                    + li {
                        margin-left: 10px;
                    }

                    &:hover {
                        background-color: #433779;
                        a {
                            color: #ffffff;
                        }
                    }
                }
                .active {
                    a {
                        color: #f07162;
                    }
                }
            }
        }
    }
    .toggle-menu-1 {
        position: relative;
        height: 30px;
        i {
            top: 0;

            position: absolute;
            font-size: 30px;
        }
    }
}

.sticky {
    animation-name: identifier;
    animation-duration: 0.5s;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    @keyframes identifier {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }
    .header-top {
        display: none !important;
    }

    .header-nav {
        .header-menu-wrapper {
            display: none !important;
        }
        .header-navbar-top {
            display: none;
        }

        .header-nav-items {
            height: 100% !important;
        }
        .header-navbar-items {
            position: relative !important;
            max-width: unset;
            top: 0;
        }
        ul {
            display: flex;
            position: relative;
            width: 100%;
            justify-content: center;
            li {
                border: none !important;
                > i {
                    display: none;
                }
                &:hover {
                    .content-navbar-wrapper {
                        display: none !important;
                    }
                }
            }
        }
    }
}

// footer {
//     margin-top: 450px;
// }
.footer-wrapper {
    .footer-top {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        &::after {
            content: "";
            height: 1px;
            width: 100%;
            background-color: rgba(242, 242, 242, 0.8);
            position: absolute;
            right: 0;
        }
        img {
            position: relative;
            // z-index: 999;
            background-color: #ffffff;
            padding: 0 20px;
        }
    }
}
.footer-content {
    margin: 30px 0;
    align-items: flex-start;
}
.footer-content-item {
    color: #433779;
    h5 {
        background-position: 50% 50%;
        font-size: 30px;
        font-weight: 600;
        line-height: 36px;
        margin-bottom: 20px;
    }
    span {
        line-height: 24px;
        display: flex;
        flex-direction: column;
        a {
            color: #291d5e;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    li {
        color: #433779;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 600;
        line-height: 22.5px;
        padding: 0px 0px 20px;
        text-align: left;
    }
}

.footer-bottom {
    justify-content: space-between !important;
    position: relative;
    padding-top: 20px;
    .footer-bottom-item {
        color: #433779;
        line-height: 24px;
        text-align: left;
        a {
            color: #433779;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &::before {
        content: "";
        background-color: rgba(242, 242, 242, 0.8);
        height: 1px;
        width: 100%;
        top: 0;
        position: absolute;
    }
}

.tag-login {
    width: 340px;
    height: 347px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 9999;
    .tag-login-items {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        h3 {
            display: flex;
            align-items: start;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            color: #433779;
            i {
                color: #b0b0b0;
            }
        }
        span {
            width: 100%;
            border: none;
        }
        span:nth-child(2),
        span:nth-child(3) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 50px;
            position: relative;
            input {
                border: none;
                background-color: transparent;
                padding: 0 10px;
                outline: none;
                width: 100%;
            }
            &::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: #b0b0b0;
                bottom: 0;
            }
        }
        span:nth-child(4) {
            padding: 10px 0;
            color: #433779;
        }
        span:nth-child(5) {
            background-color: #f07162;
            display: flex;
            justify-content: center;
            padding: 20px 0;
            border-radius: 0;
            align-items: center;
            color: #ffffff;
            font-weight: 600;
            font-size: 24px;
            border-radius: 5px;
        }
        span:nth-child(6) {
            display: flex;
            justify-content: center;
            color: #e4e4e4;
            padding: 10px 0;
        }
        span {
            + span {
                margin-left: 0;
            }
        }
    }
}
