.header-navbar-items {
    ul {
        display: none !important;
    }
}
.sticky{

    .header-navbar-items {
        ul {
            display: flex !important;
        }
    }
}


.title-top {
    padding: 30px 0;
    position: relative;
    h2 {
        font-size: 3em !important;
        color: #433779;
        font-weight: 600;
    }
    &::after {
        content: "";
        height: 1px;
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
        background-color: rgb(180 180 180 / 60%);
    }
}

.list-feature-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .list-feature-item {
        .show-size {
            display: flex;
            align-items: center;
            padding: 0 5px;
            p {
                margin-bottom: 0 !important;
                padding: 0 5px;
                color: #d6d6d6;
            }
            p:nth-child(3) {
                color: #433779;
                text-decoration: underline;
            }
        }
        .option-grid-product {
            span {
                padding: 0 6px;
                color: rgb(180 180 180 / 60%);
                cursor: pointer;
                i {
                    font-size: 22px;
                }
            }
            .active {
                color: #000000;
            }
        }
        .default-sorting {
            padding: 0 6px;
            select {
                border: none;
                outline: none;
                color: #433779;
            }
        }
        .filter {
            padding: 0 7px;
            span {
                color: #433779;
            }
        }
    }
    .list-feature-item:first-child {
        color: #a8a8a8;
        font-family: Roboto;
        line-height: 24px;
        margin: 0px 25px 0px 0px;
    }
}

.list-product-items {
    transition: all 0.5s ease;
    .product-item {
        .product__item {
            border: 1px solid rgb(180 180 180 / 60%);
            position: relative;
            // margin: 10px;
            .product__image {
                overflow: hidden;
                img {
                    transition: all 0.3s ease;
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
            .product__info {
                flex-direction: column;
                a {
                    color: #433779;
                    display: inline;
                    font-family: Roboto;
                    line-height: 24px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 20px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .evaluate {
                    color: #ee6352;
                    font-size: 14px;
                    line-height: 14px;
                    padding: 21px 0px 0px;
                    text-align: center;
                }
                .price {
                    font-weight: 500;
                    padding-top: 10px;
                    span:first-child {
                        color: #d6d6d6;
                        text-decoration: line-through;
                    }
                    span:last-child {
                        color: #433779;
                        font-weight: 700;
                        font-size: 20px;
                    }
                }
            }
            .tag-sale {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px;
                span {
                    background-color: #ee6352;
                    border-radius: 3px;
                    color: #ffffff;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                    padding: 3px 8px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }
    .col-lg-12,
    .col-12 {
        .product__image {
            width: 40%;
        }
        .product__item {
            display: flex;
            justify-content: flex-start;
        }
        .product__info {
            width: 100%;
        }
    }
}

